html {
  overflow: hidden;
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.1em;
  color: #181818;
  font-family: 'IBM Plex Serif', Cambria, Cochin, Georgia, Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  transition: color 0.5s ease;
}

h1 {
  margin: 0;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 2.2em;
}

h2 {
  font-family: 'Poppins', 'Montserrat', sans-serif;
}

.about-text {
  margin: 0;
  font-size: 1.1em;
  max-width: 30em;
}

a {
  color: #0055ff;
  transition: color 0.5s ease;
}

a:hover {
  color: #0033dd;
}

a:visited:hover {
  color: #0000dd;
}

.dark a {
  color: #FFD55F;
}

.dark a:hover {
  color: #FFC82C;
}

.animation-circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  backface-visibility: hidden;
  transform: translateZ(0);
  z-index: 5;
}

.details {
  margin-top: auto;
  margin-bottom: 30vh;
  padding: 1em 3em;
  padding-left: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-toggle {
  text-align: right;
  padding: 2em;
}

.theme-toggle svg {
  width: 1.8em;
  height: 1.8em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.theme-toggle__path {
  fill: #181818;
  transition: fill 0.5s ease;
}

.dark .theme-toggle__path {
  fill: #fff;
}

.theme-toggle__circle {
  stroke: #181818;
  transition: stroke 0.5s ease;
}

.dark .theme-toggle__circle {
  stroke: #fff;
}

.theme-toggle svg:hover .theme-toggle__path {
  fill: #444;
}

.theme-toggle svg:hover .theme-toggle__circle {
  stroke: #444;
}

.dark .theme-toggle svg:hover .theme-toggle__path {
  fill: #ddd;
}

.dark .theme-toggle svg:hover .theme-toggle__circle {
  stroke: #ddd;
}

.dark {
  color: #fff;
  background-color: #181818;
}

@media (max-width: 80em) {
  .details {
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 15vh;
  }
}

@media (max-width: 60em) {
  .details {
    margin-bottom: 20vh;
  }
}

@media (max-width: 30em) {
  body {
    font-size: 0.9em;
  }

  .details {
    padding: 1em 2em;
  }

  .about-title {
    font-size: 1.7em;
  }
}
