:root {
  --bg: #fff;
  --fg: #181818;
  --fg-light: #444;
  --link-fg: #0055ff;
  --link-fg-hover: #0033dd;
  --theme-ring: #00000033;
}

.dark {
  --bg: #181818;
  --fg: #fff;
  --fg-light: #ddd;
  --link-fg: #ffd55f;
  --link-fg-hover: #ffc82c;
  --theme-ring: #ffffff33;
}

@font-face {
  font-family: "IBM Plex Serif";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/IBMPlexSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}

.no-transition * {
  transition: none !important;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 4rem 10rem;
  font-size: 1.2rem;
  color: var(--fg);
  background-color: var(--bg);
  font-family: "IBM Plex Serif", Cambria, Cochin, Georgia, Times, serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  transition: color 0.1s;
}

h1 {
  margin: 0;
  font-family: "Poppins", "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 2.2em;
  line-height: 1.2;
}

h2 {
  font-family: "Poppins", "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

a {
  color: var(--link-fg);
}

a:hover {
  color: var(--link-fg-hover);
}

.animation-circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  backface-visibility: hidden;
  transform: translateZ(0);
  z-index: 5;
}

.theme-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4rem;
  appearance: none;
  outline: none;
  background: none;
  border: 0;
  padding: 0;
  line-height: 0;
  padding: 0.2em;
}

.theme-toggle:focus-visible {
  box-shadow: 0 0 0 2px var(--theme-ring);
  border-radius: 2rem;
}

.theme-toggle svg {
  width: 1.6em;
  height: 1.6em;
  user-select: none;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.theme-toggle__path {
  fill: var(--fg);
  transition: fill 0.5s;
}

.theme-toggle__circle {
  stroke: var(--fg);
  transition: stroke 0.5s;
}

.theme-toggle svg:hover .theme-toggle__path {
  fill: var(--fg-light);
}

.theme-toggle svg:hover .theme-toggle__circle {
  stroke: var(--fg-light);
}

.about {
  max-width: 40rem;
}

.about-text {
  margin: 16px 0 0 0;
}

@media (max-width: 40rem) {
  body {
    padding: 3rem;
  }

  .about-title {
    font-size: 1.7em;
  }
}
